{% extends "base.html" %}

{% block styles %}

{% endblock %}

{% block content%}
<div class = container>
    <div>
    <form method="GET">
        <input type="search" id="site-search" name="q"
            aria-label="Search for a specific news content">
            <button type="submit">Search</button>
            </form>
    </div>
    {% for x in range(0,all_articles.articles|length,2)  %}
    <div class="row">
        <div class="col-sm">
            <div class="card" >
                <img class="card-img-top" src="{{ all_articles.articles[x+0].urlToImage }}" alt="Card image" style="width:100%">
                <div class="card-body">
                <h4 class="card-title">{{ all_articles.articles[x+0].title }}</h4>
                <p class="card-text">{{ all_articles.articles[x+0].description }}</p>
                <a href="{{ all_articles.articles[x+0].url }}" class="btn btn-primary">Click for more</a>
                </div>
            </div>
          
        </div> 
        <div class="col-sm">
            <div class="card" >
                <img class="card-img-top" src="{{ all_articles.articles[x+1].urlToImage }}" alt="Card image" style="width:100%">
                <div class="card-body">
                <h4 class="card-title">{{ all_articles.articles[x+1].title }}</h4>
                <p class="card-text">{{ all_articles.articles[x+1].description }}</p>
                <a href="{{ all_articles.articles[x+1].url }}" class="btn btn-primary">Click for more</a>
                </div>
            </div>
          </div>        
      </div>
      {% endfor %}
    </div>
{% endblock %}