{% extends "base.html" %}

{% block styles %}

{% endblock %}

{% block content%}
<div class = container>
      <!-- Search bar -->
      <div>
        <input class="search_term" type="text" placeholder="Search for a specific news content">
        <button onclick="get_search_data()" >Search</button>
     </div>
    <br>
          <!-- In case we do not find the required query result -->
          {% with messages = get_flashed_messages() %}  
             {% if messages %}  
                   {% for message in messages %}  
                        <p>{{ message }}</p>  
                   {% endfor %}  
             {% endif %}  
          {% endwith %}  
    <br>
        <!-- Bootstrap Cards -->
        <div class="NewsCards">
        </div>

<script>
$.get("http://localhost:5000/news?="+"finance", function (input, status) {
        console.log("inside");
        console.log(input);
        $.each(input,function(j,art)
        {
        var content='';
        console.log(art);
        $.each(art,function(i,article)
        {
            console.log(i);
            console.log(article);
            if (i%2===0)
            {
            content+='<div class="card-deck"><div class="card"><img class="card-img-top" src="'
            +article.urlToImage+'" alt="Card image cap" style="max-height: 300px;"><div class="card-body"><h5 class="card-title">'
            +article.title+'</h5><p class="card-text">'
            +article.description+'</p></div><div class="card-footer text-right"><a href="'
            +article.url+'" target="_blank" class="morebtn btn btn-primary">Click for more</a></div></div><br><br>';
            }
            else
            {
                content+='<div class="card"><img class="card-img-top" src="'
            +article.urlToImage+'" alt="Card image cap" style="max-height: 300px;"><div class="card-body"><h5 class="card-title">'
            +article.title+'</h5><p class="card-text">'
            +article.description+'</p></div><div class="card-footer text-right"><a href="'
            +article.url+'" target="_blank" class="morebtn btn btn-primary">Click for more</a></div></div><br><br></div><br><br>';
            }
        });
        $('.NewsCards').html(content);
    });
    });

function get_search_data(search_term) {
    var search_term = $('.search_term').val();
    console.log(search_term);
    $.get("http://localhost:5000/news?q="+search_term, function (input, status) {
        console.log("inside");
        console.log(input);
        $.each(input,function(j,art)
        {
        var content='';
        console.log(art);
        $.each(art,function(i,article)
        {
            console.log(i);
            console.log(article);
            if (i%2===0)
            {
            content+='<div class="card-deck"><div class="card"><img class="card-img-top" src="'
            +article.urlToImage+'" alt="Card image cap" style="max-height: 300px;"><div class="card-body"><h5 class="card-title">'
            +article.title+'</h5><p class="card-text">'
            +article.description+'</p></div><div class="card-footer text-right"><a href="'
            +article.url+'" target="_blank" class="morebtn btn btn-primary">Click for more</a></div></div><br><br>';
            }
            else
            {
                content+='<div class="card"><img class="card-img-top" src="'
            +article.urlToImage+'" alt="Card image cap" style="max-height: 300px;"><div class="card-body"><h5 class="card-title">'
            +article.title+'</h5><p class="card-text">'
            +article.description+'</p></div><div class="card-footer text-right"><a href="'
            +article.url+'" target="_blank" class="morebtn btn btn-primary">Click for more</a></div></div><br><br></div><br><br>';
            }
        });
        console.log(content);
        $('.NewsCards').html(content);
    });
    });

}

</script>
{% endblock %}