<div class="con">
    <div class="row partition">
        <div class="col-md-6">
            <p class="header">Market Corner</p>
            <p description="sub-header"> One stop solution fo all your trading needs </p>
        </div>
        <div class="col-md-6 img-container">

            
        </div>

    </div>

    <div class="feature-container container">
        <div class="row justify-content-around">
            <span class="feature-header"> Features </span>
        </div>
        <div class="row cloud">
            <div class="col-lg-6">
                <img class = "feature-img" src="assets/news.svg" height="400px"/>
            </div>
            <div class="col-lg-6">
                <p class =" feature-text"> Get the latest news at your fingertips!</p>
            </div>
        </div>
        <div class="description">
            <p>People who act the first in market are the ones who rule the market as well and a lot of financial decisions are driven by news. Market Corner provides you the facility to read the latest news on any topic and provides news from vast colleciton of sources.</p>

        </div>
        <div class="row cloud">
            <div class="col-lg-6">
                <p class =" feature-text"> Get complete latest info on all stocks</p>
            </div>
            <div class="col-lg-6">
                <img class = "feature-img" src="assets/stock1.svg" height="400px"/>
            </div>
        </div>
        <div class="description">
            <p>Market Corner provides you all the information that might be required by an investor before making any decision. All the information from the backround of the company to the annual earnings are at the disposal of users.</p>
             
        </div>
        <div class="row cloud">
            
            <div class="col-lg-6">
                <img class = "feature-img" src="assets/stock2.svg" height="400px"/>
            </div>
            <div class="col-lg-6">
                <p class =" feature-text">Advanced Candle Stick Charts to help your Analysis.</p>
            </div>
        </div>
        <div class="description">
            <p>Apart from just providing information Market Corner also provides advanced Candle Stick Charts of the stock for people who might want to do analysis.</p>
             
        </div>

        <div class="bottom">
            <p>
                Before taking any decision about investment please make sure you understand how market functions and all related risks properly.<br>
                You might want to take a loot at <a href="https://www.forbes.com/sites/garymishuris/2019/12/03/10-important-questions-to-consider-before-investing-in-a-company/"> this </a> and <a href="https://www.etmoney.com/blog/5-things-you-should-do-before-investing-money/"> this </a>
            </p>
        </div>
    </div>
</div>